<?xml version="1.0" encoding="utf-8"?>
<Content Key="01452e88-3195-449c-ac97-873935414096" Alias="2023" Level="3">
  <Info>
    <Parent Key="4f90b14d-0c4c-447a-a6ec-f7a5b3d45f7b">Events</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events/</Path>
    <Trashed>false</Trashed>
    <ContentType>year</ContentType>
    <CreateDate>2025-07-17T14:06:04</CreateDate>
    <NodeName Default="2023" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>