<?xml version="1.0" encoding="utf-8"?>
<Content Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d" Alias="2025" Level="3">
  <Info>
    <Parent Key="4f90b14d-0c4c-447a-a6ec-f7a5b3d45f7b">Events</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events/</Path>
    <Trashed>false</Trashed>
    <ContentType>year</ContentType>
    <CreateDate>2025-07-17T14:06:13</CreateDate>
    <NodeName Default="2025" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>