<?xml version="1.0" encoding="utf-8"?>
<Content Key="f06a7580-8ebc-4380-86fd-4851be93d68f" Alias="2026" Level="3">
  <Info>
    <Parent Key="4f90b14d-0c4c-447a-a6ec-f7a5b3d45f7b">Events</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events/</Path>
    <Trashed>false</Trashed>
    <ContentType>year</ContentType>
    <CreateDate>2025-07-31T14:36:46</CreateDate>
    <NodeName Default="2026" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>