<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f90b14d-0c4c-447a-a6ec-f7a5b3d45f7b" Alias="Events" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>events</ContentType>
    <CreateDate>2025-07-17T13:52:00</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>23</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e5a75384-f00c-4cc8-bac5-2eae6200c64b">Events</Template>
  </Info>
  <Properties />
</Content>