<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc88a650-2535-4cfa-8b57-f5431aaff3f6" Alias="Sustainability best practices webinar" Level="4">
  <Info>
    <Parent Key="01452e88-3195-449c-ac97-873935414096">2023</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//SustainabilityBestPracticesWebinar</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2023-12-20T10:13:57</CreateDate>
    <NodeName Default="Sustainability best practices webinar" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "1bf55618-99ed-43a2-a35f-86906f57bb53",
    "mediaKey": "ed1dc6ef-db9d-4b53-b8ba-ff5ef2a07048"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-01-10T15:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-01-10T16:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[In this webinar, the Umbraco Sustainability Team will share best practices for constructing Sustainable Web Solutions. We will provide inspiration and ideas for enhancing infrastructure, backend, and frontend elements. Additionally, we'll discuss actions that editors can take and emphasize the importance of considering sustainability in our solutions.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbraco.zoom.us/webinar/register/WN_VyylT3O4R9ecTbKxvPRtIg#/registration",
    "url": "https://umbraco.zoom.us/webinar/register/WN_VyylT3O4R9ecTbKxvPRtIg#/registration"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Online event]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[1]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>