<?xml version="1.0" encoding="utf-8"?>
<Content Key="a5379347-db1f-4233-9b0f-f18b3581d96d" Alias="The Dutch Umbraco Experience 2024" Level="4">
  <Info>
    <Parent Key="95fbf90a-937a-431c-a6ff-b85fc1edac14">2024</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//TheDutchUmbracoExperience2024</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-06-10T12:28:10</CreateDate>
    <NodeName Default="The Dutch Umbraco Experience 2024" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "87dc9157-30b7-43ed-86b5-73337a5756d0",
    "mediaKey": "08301a4e-68f0-43f6-a664-d8bb36583df7"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-09-19T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-09-19T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Whether you're a die-hard backend-developer, a frontend-developer, a marketeer or content-editor working with Umbraco or just someone curious about Umbraco, this conference has something for everyone. We'll cover all the fresh things happening in the Umbraco world, from new features to smart tricks you can use. It's also the yearly opportunity to meet all the folks who love Umbraco like you do, share ideas, and learn from the best.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://www.df24.nl/",
    "target": "_blank",
    "url": "https://www.df24.nl/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Utrecht, The Netherlands]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community",
  "developers",
  "marketing"
]]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>