<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ea3ab7-8fdb-4313-aa65-798a2e8b0bed" Alias="Umbraco DK Festival 2025" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoDKFestival2025</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2025-07-16T13:45:43</CreateDate>
    <NodeName Default="Umbraco DK Festival 2025" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "de8fb5e8-d5db-4d91-a082-2e3db4944c55",
    "mediaKey": "7b5ca35f-bdaa-4e7d-8938-a8f41c27591d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-12-11T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-12-11T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[**Get ready for another amazing Umbraco DK Festival!**

Umbraco DK Festival is a full-day conference that brings together the Danish Umbraco community for a day focused on everything new in the Umbraco ecosystem. With more than 100 attendees, we're the largest conference for the Danish Umbraco community.

This is the perfect place to build and maintain professional relationships while staying up-to-date with the latest platform developments. Whether you're a returning attendee or new to what might be the world's friendliest developer community, we'd love to have you join us!

Expect engaging presentations from industry experts, hands-on workshops, networking opportunities, and insights into the future of Umbraco. Join fellow developers, content creators, and digital professionals for a day of learning, sharing, and celebrating our vibrant community.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracodkfestival.dk/",
    "target": "",
    "udi": null,
    "url": "https://umbracodkfestival.dk/",
    "queryString": null
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Tivoli Friheden, Skovbrynet 5, 8000, Aarhus, Denmark]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[Europe/Copenhagen]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>