<?xml version="1.0" encoding="utf-8"?>
<Content Key="65c44355-4bb7-4be9-93eb-5807afc132e9" Alias="Umbracokalaset 2025 (Sweden)" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//Umbracokalaset2025Sweden</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2025-06-25T14:02:01</CreateDate>
    <NodeName Default="Umbracokalaset 2025 (Sweden)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "4bc37787-4419-4256-96ee-86561a81b24a",
    "mediaKey": "8a88fc56-d3d5-416a-bbc1-99e862653f10",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-10-22T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-10-22T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Umbracokalset är tillbaka, nu kan du återigen bli en del av Sveriges största Umbraco-fest! Umbracokalaset, i samarbete med Umbraco, är den första konferensen i sitt slag i Stockholm, där vi samlar utvecklare, designers och digitala strateger för att utforska, lära och fira allt som Umbraco har att erbjuda.

Umbracokalaset är den perfekta platsen för att dyka djupt in i Umbracos universum. Under denna dag erbjuder vi en rad inspirerande föreläsningar, interaktiva workshops och många möjligheter till nätverkande i en öppen och festlig atmosfär. Oavsett din erfarenhet med Umbraco kommer du att finna värdefull kunskap och nya kontakter. Var med och forma framtiden för webbutveckling tillsammans med andra likasinnade i den svenska Umbraco-communityn.

Anmäl dig nu för att säkra din plats och vara med på en oförglömlig dag som både inspirerar och underhåller. Vi ser fram emot att välkomna dig till en dag där vår gemenskap kan växa och blomstra tillsammans!]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://www.umbracokalaset.se/",
    "target": null,
    "udi": null,
    "url": "https://www.umbracokalaset.se/",
    "queryString": null
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Berns, Berzelii Park, Näckströmsgatan 8, Stockholm]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "developers"
]]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[Europe/Stockholm]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>