<?xml version="1.0" encoding="utf-8"?>
<Content Key="b961a4df-8fb3-4a20-ba23-3b545404acba" Alias="Umbraco U.S. Festival" Level="4">
  <Info>
    <Parent Key="95fbf90a-937a-431c-a6ff-b85fc1edac14">2024</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoUSFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-06-10T12:31:33</CreateDate>
    <NodeName Default="Umbraco U.S. Festival" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "57d7f4e3-5d13-4d46-aafa-70588f5d5516",
    "mediaKey": "1fc21efa-d135-4d64-96a2-931f773fa6cd"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-10-03T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-10-04T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Get ready for the ultimate Umbraco experience at the Umbraco US Festival - a day filled with workshops, networking, and fun!]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracofestival.us/",
    "target": "_blank",
    "url": "https://umbracofestival.us/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[MHUB, 1623 W Fulton Street Chicago, IL 60612]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community",
  "business",
  "partners",
  "developers",
  "hackathon"
]]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>