<?xml version="1.0" encoding="utf-8"?>
<Content Key="119b06c0-fdda-48b1-9b96-a43d4de553a1" Alias="Umbraco UK Festival" Level="4">
  <Info>
    <Parent Key="95fbf90a-937a-431c-a6ff-b85fc1edac14">2024</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoUKFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-06-10T12:41:14</CreateDate>
    <NodeName Default="Umbraco UK Festival" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "d0f96745-8eb2-490e-a122-1cc234a45208",
    "mediaKey": "fd413038-b920-4a0d-8df6-01503976cd79"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[United Kingdom]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-11-08T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-11-08T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Next stop... the Umbraco UK Festival on November 8th!

This year the festival returns to an iconic venue, and is set to be the biggest yet – with an awesome packed lineup of expert Umbraco talks, and plenty of community fun to boot...

Expect a world-class lineup of Umbraco speakers, including from Umbraco HQ, covering topics from the latest developments with the CMS, .NET, web & JavaScript development, Accessibility, Sustainability, Community, and more!]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracofestival.co.uk/",
    "url": "https://umbracofestival.co.uk/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Codenode, 10 South Place, London, EC2M 7EB]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>