<?xml version="1.0" encoding="utf-8"?>
<Content Key="a4f39fb3-7cd9-49bf-abe4-04466b0f5f98" Alias="Why Sustainability Needs To Be On Your Web Tech Agenda" Level="4">
  <Info>
    <Parent Key="95fbf90a-937a-431c-a6ff-b85fc1edac14">2024</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//WhySustainabilityNeedsToBeOnYourWebTechAgenda</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-02-07T13:44:50</CreateDate>
    <NodeName Default="Why Sustainability Needs To Be On Your Web Tech Agenda" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "8666484a-74ab-43eb-969c-8ddfe8d2f4df",
    "mediaKey": "c2828e77-d63e-4c55-9ab0-e13619ae9a1e"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-03-19T16:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-03-19T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[During this webinar, top industry experts will discuss the importance of sustainability in the digital world and its planetary impact. Learn about digital consumption's environmental effects and explore strategies to minimize digital footprints through better digital housekeeping and innovative practices. 

Ideal for anyone working in the web tech industry, from business owners and project managers to web engineers and developers. 

Key takeaways:
Gain the latest insights and numbers concerning digital consumption and its environmental effects. 

Discover strategies to reduce digital footprints, focusing on improved digital housekeeping, content management, and innovative business models. 

Get actionable steps for creating a more sustainable digital future.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbraco.zoom.us/webinar/register/WN_8Z7lMkOvQZmbgdLWw6bzNA#/registration",
    "url": "https://umbraco.zoom.us/webinar/register/WN_8Z7lMkOvQZmbgdLWw6bzNA#/registration"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[ Online event]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[1]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
    <timezoneIdentifier>
      <Value><![CDATA[]]></Value>
    </timezoneIdentifier>
  </Properties>
</Content>