<?xml version="1.0" encoding="utf-8"?>
<Media Key="76932ba8-8b71-4031-98a9-060456d4d4e2" Alias="2023 11 12 171403" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T17:14:13</CreateDate>
    <NodeName Default="2023 11 12 171403" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vyvjg3tr/2023-11-12_171403.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>