<?xml version="1.0" encoding="utf-8"?>
<Media Key="6cad4815-1f94-49e1-b9f5-6894168a9a97" Alias="2024 06 10 133644" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-10T13:37:00</CreateDate>
    <NodeName Default="2024 06 10 133644" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cnek01eu/2024-06-10_133644.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>