<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed1dc6ef-db9d-4b53-b8ba-ff5ef2a07048" Alias="Gbuaozqx0aehqkb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gbuaozqx0aehqkb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-20T11:13:20</CreateDate>
    <NodeName Default="Gbuaozqx0aehqkb" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3hdb11m3/gbuaozqx0aehqkb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>