<?xml version="1.0" encoding="utf-8"?>
<Media Key="490756d9-5580-42a7-811d-047a3a7444d4" Alias="Logo (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Logo3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-11-18T10:52:25</CreateDate>
    <NodeName Default="Logo (3)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3blaosma/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>