<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d0b9f2d-28e1-4b1d-a689-50a0cd379efd" Alias="UMBRACOKALASETV1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UMBRACOKALASETV1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-06-10T13:36:18</CreateDate>
    <NodeName Default="UMBRACOKALASETV1" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dspbwtpb/umbracokalasetv1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>