<?xml version="1.0" encoding="utf-8"?>
<Macro Key="b9fb3e73-0f13-4875-8f3d-c12246d694bb" Alias="LoginStatus" Level="0">
  <Name>Login status</Name>
  <MacroSource>~/Views/MacroPartials/Login status.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>