<?xml version="1.0" encoding="utf-8"?>
<Content Key="95fbf90a-937a-431c-a6ff-b85fc1edac14" Alias="2024" Level="3">
  <Info>
    <Parent Key="4f90b14d-0c4c-447a-a6ec-f7a5b3d45f7b">Events</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events/</Path>
    <Trashed>false</Trashed>
    <ContentType>year</ContentType>
    <CreateDate>2025-07-17T15:06:10</CreateDate>
    <NodeName Default="2024" />
    <SortOrder>19</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>