<?xml version="1.0" encoding="utf-8"?>
<Content Key="63e1854f-53dc-4055-945b-7a144befbb80" Alias="Login" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2025-04-02T11:00:09</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="960a8fea-7683-4a3f-b6d0-1cb6c916490e">Login</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003C?UMBRACO_MACRO macroAlias=\u0022LoginStatus\u0022 /\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003C?UMBRACO_MACRO macroAlias=\u0022Login\u0022 /\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E"
}]]></Value>
    </bodyText>
  </Properties>
</Content>