<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f8158cd-524c-4e7b-9ed3-50c40f9c6ac1" Alias="Testing" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/Testing</Path>
    <Trashed>false</Trashed>
    <ContentType>textPage</ContentType>
    <CreateDate>2025-08-05T10:50:59</CreateDate>
    <NodeName Default="Testing" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="09e50d10-5476-4476-a506-9322bd627d89">textPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EThis is a test\u003C/p\u003E"
}]]></Value>
    </bodyText>
  </Properties>
</Content>