<?xml version="1.0" encoding="utf-8"?>
<Content Key="826b037f-6534-4a49-a336-884d460f89b9" Alias="UDUF 2025" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UDUF2025</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-12-03T11:08:20</CreateDate>
    <NodeName Default="UDUF 2025" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "5524d58e-8ada-4a71-bd61-a66ae178ec7f",
    "mediaKey": "e125a6a8-e274-4f50-ae7d-760d062d3dcb"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[Australia]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-04-10T08:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-04-11T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[The Umbraco Down Under Festival (UDUF) is back in 2025, reuniting the Australian Umbraco community after several years apart. This is your opportunity to connect with developers, designers, marketers, and content creators who rely on Umbraco to power their digital projects—and to be inspired by what’s possible with the platform.

UDUF is a gathering for learning, sharing, and collaboration. It’s not a trade show or a platform for sales pitches; it’s an event built by the community, for the community. Whether you work on the technical side or drive the creative and strategic outcomes, you’ll find a diverse mix of sessions tailored to both perspectives.

A highlight of the event will be the community hackathon, where you can collaborate with peers to tackle challenges and create innovative solutions. Adding to the excitement, representatives from Umbraco HQ will be present, offering valuable insights and connecting directly with the community they help power. This is your chance to hear about the future of Umbraco straight from the source and to share your ideas with them.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://www.uduf.net/",
    "url": "https://www.uduf.net/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Microsoft Reactor, Sydney]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>