<?xml version="1.0" encoding="utf-8"?>
<Content Key="8c7d376c-8548-447c-b9b6-866bb4cb674f" Alias="Umbraco U.S. Festival 2025" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoUSFestival2025</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2025-07-16T14:47:34</CreateDate>
    <NodeName Default="Umbraco U.S. Festival 2025" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "57d7f4e3-5d13-4d46-aafa-70588f5d5516",
    "mediaKey": "1fc21efa-d135-4d64-96a2-931f773fa6cd"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-10-02T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-10-03T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Get ready—the Umbraco US Festival is back! Join us in Chicago’s vibrant Fulton Market at mHUB on October 2–3, 2025, for another unforgettable gathering of the Umbraco community.

Whether you’re a returning attendee or a first-timer, you can expect two days filled with insightful sessions, hands-on learning, and plenty of friendly connections—all in the spirit of open-source collaboration.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracofestival.us/",
    "target": "_blank",
    "url": "https://umbracofestival.us/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[MHUB, 1623 W Fulton Street Chicago, IL 60612]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "community",
  "business",
  "partners",
  "developers",
  "hackathon"
]]]></Value>
    </tags>
  </Properties>
</Content>