<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c489180-2576-4a2e-b427-c021175ab451" Alias="Umbraco Codegarden 2025" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoCodegarden2025</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-12-16T15:22:05</CreateDate>
    <NodeName Default="Umbraco Codegarden 2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "e6b1c44a-cfb3-46c8-94c0-02dfe45cbb80",
    "mediaKey": "766256c5-dab1-4507-822e-38ae59d7c0e7"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[DK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-06-18T08:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-06-20T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[## Codegarden is the Umbraco tech conference like no other...

Codegarden is a one-of-a-kind conference experience mixing learning and collaboration with just the right amount of fun and crazy.

It's the annual celebration of all things Umbraco, and the fantastic things that people can do and make with it, serving to inform and inspire.

**What's more, it's the biggest congregation of Umbraco users and developers in the world.**]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://codegarden.umbraco.com/",
    "url": "https://codegarden.umbraco.com/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[DOK5000, Havnegade 20, 5000 Odense C, DK]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>