<?xml version="1.0" encoding="utf-8"?>
<Content Key="bad796cf-087f-4a44-8c79-9d7e5426a854" Alias="Umbracokalaset (Sweden)" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracokalasetSweden</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-06-10T13:37:51</CreateDate>
    <NodeName Default="Umbracokalaset (Sweden)" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "4bc37787-4419-4256-96ee-86561a81b24a",
    "mediaKey": "8a88fc56-d3d5-416a-bbc1-99e862653f10"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-10-23T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-10-23T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Bli en del av Sveriges största Umbraco-fest! Umbracokalaset, i samarbete med Umbraco, är den första konferensen i sitt slag i Stockholm, där vi samlar utvecklare, designers och digitala strateger för att utforska, lära och fira allt som Umbraco har att erbjuda. Umbracokalaset är den perfekta platsen för att dyka djupt in i Umbracos universum. Under denna dag erbjuder vi en rad inspirerande föreläsningar, interaktiva workshops och många möjligheter till nätverkande i en öppen och festlig atmosfär.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://www.umbracokalaset.se/",
    "url": "https://www.umbracokalaset.se/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Usine, Södermalmsallén 36 på Södermalm, Stockholm]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[[
  "developers"
]]]></Value>
    </tags>
  </Properties>
</Content>