<?xml version="1.0" encoding="utf-8"?>
<Content Key="22b77945-f73a-4dfe-9d77-76053e614606" Alias="Umbraco Spark" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoSpark</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2023-11-12T15:49:51</CreateDate>
    <NodeName Default="Umbraco Spark" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "cb8b0fce-b534-4b24-9b29-8250bece12fb",
    "mediaKey": "313b4ec4-be8f-4497-a7f4-20653e627c0f"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[UK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-03-08T09:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-03-08T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[This one-day conference is dedicated to bringing together developers for a day of learning, networking and inspiration. Focusing on innovation, sustainability and forward-thinking, the conference will feature a line up of expert speakers sharing their knowledge and experience on the latest trends and innovations using Umbraco. Attendees will also have the opportunity to hear from Umbraco HQ as well as key developers and MVPs from the wider Umbraco community. Mark your calendar for 8th March 2024 - because you won’t want to miss this. 

**What's in it for you**

- 2 tracks of innovative and inspiring top tier talks
- The epic Umbraco Spark notebook and 2024 Spark t-shirt
- Tea/coffee (all you can drink)
- Buffet lunch to fuel you for the afternoon sessions
- Beers at the end of the day overlooking the harbour
- Evening social to get to know all your fellow attendees!]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracospark.com/",
    "url": "https://umbracospark.com/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[M Shed, Bristol, BS1 4RN, UK]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>