<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d06d37e-7bfe-4fad-b1ce-d3ae43b82935" Alias="Umbraco Spark 2025" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoSpark2025</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-11-18T10:52:56</CreateDate>
    <NodeName Default="Umbraco Spark 2025" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "95dff15f-415e-4e03-a408-cf7631891528",
    "mediaKey": "2c7ffcd8-2a60-414f-9912-37b3a80d3fa0"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[UK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-03-07T09:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-03-07T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[The ultimate rendezvous for every dedicated Umbraco developer! Following the resounding success of the last 4 years, Umbraco Spark will be back on 7th March 2025. The conference will feature one main track containing in-depth technical talks to lightning talks from a line up of expert speakers sharing their knowledge and experience on the latest trends and innovations using Umbraco. Attendees will hear from Umbraco HQ as well as key developers and MVPs from the wider Umbraco community.

Alongside the main track, an extended hackathon will take place where attendees involved in the Umbraco Package jam on Thursday 6th March can finish up their package ready to bring it to the all-new Sparkies Awards at the end of the conference.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracospark.com/",
    "url": "https://umbracospark.com/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[We The Curious Bristol, BS1 5DB]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>