<?xml version="1.0" encoding="utf-8"?>
<Content Key="95599958-40cc-4c69-8e88-6606f24ab40a" Alias="Umbraco in the City Manchester" Level="4">
  <Info>
    <Parent Key="0557c5d4-77bd-4255-ba2d-af96ea5b055d">2025</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoInTheCityManchester</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2025-07-25T08:39:04</CreateDate>
    <NodeName Default="Umbraco in the City Manchester" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "cba1d068-1cd4-433d-97c5-b143f78d900c",
    "mediaKey": "ed471bb9-34b9-45ad-a51e-da8068b35d45"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[United Kingdom]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2025-11-07T09:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2025-11-07T21:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[🐝 Bee prepared.
Something brilliant will be buzzing in Manchester this November. 
]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[x+Why, Manchester]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>