<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb9b8c30-008d-4f9b-91e8-9f5426ef7714" Alias="Umbraco DK Festival" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/UmbracoDKFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2024-06-10T14:09:45</CreateDate>
    <NodeName Default="Umbraco DK Festival" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "de8fb5e8-d5db-4d91-a082-2e3db4944c55",
    "mediaKey": "7b5ca35f-bdaa-4e7d-8938-a8f41c27591d"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2024-11-21T00:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2024-11-21T00:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Headless, commerce, Copilot og nye releases er blot nogle af emnerne, du kan se frem til at høre om på dette års Umbraco DK Festival.

Umbraco DK Festival er en heldagskonference, der samler det danske Umbraco community til en dag med fokus på alt det nye inden for Umbraco. 
Vi er mere end 100 deltagere og dermed den største konference for det danske Umbraco community. Det er et fantastisk sted at opbygge og vedligeholde relationer, samtidig med at du bliver faglig klædt på i alt det nye inden for platformen.

Uanset om du er en af de mange, der har deltaget før, eller ny i verdens måske venligste fællesskab, så håber vi, at du har lyst til at være med!]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracodkfestival.dk/",
    "target": "",
    "url": "https://umbracodkfestival.dk/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[Aarhus]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>