<?xml version="1.0" encoding="utf-8"?>
<Content Key="8fef2047-ad47-476d-b0a8-8f05feb96e65" Alias="Umbraco Spark 2026" Level="4">
  <Info>
    <Parent Key="f06a7580-8ebc-4380-86fd-4851be93d68f">2026</Parent>
    <Path>/UmbracoGlobalEventCalendar/Events//UmbracoSpark2026</Path>
    <Trashed>false</Trashed>
    <ContentType>calendarEvent</ContentType>
    <CreateDate>2025-07-16T14:48:34</CreateDate>
    <NodeName Default="Umbraco Spark 2026" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "95dff15f-415e-4e03-a408-cf7631891528",
    "mediaKey": "2c7ffcd8-2a60-414f-9912-37b3a80d3fa0"
  }
]]]></Value>
    </bannerImage>
    <country>
      <Value><![CDATA[UK]]></Value>
    </country>
    <dateFrom>
      <Value><![CDATA[2026-03-06T09:00:00]]></Value>
    </dateFrom>
    <dateTo>
      <Value><![CDATA[2026-03-06T17:00:00]]></Value>
    </dateTo>
    <description>
      <Value><![CDATA[Umbraco Spark focuses on technical, innovation and developer-focused topics and is dedicated to bringing together developers for a day of learning and inspiration.]]></Value>
    </description>
    <eventHost>
      <Value><![CDATA[]]></Value>
    </eventHost>
    <eventIcon>
      <Value><![CDATA[[]]]></Value>
    </eventIcon>
    <eventLink>
      <Value><![CDATA[[
  {
    "name": "https://umbracospark.com/",
    "url": "https://umbracospark.com/"
  }
]]]></Value>
    </eventLink>
    <eventLocation>
      <Value><![CDATA[We The Curious Bristol, BS1 5DB]]></Value>
    </eventLocation>
    <onlineAttendance>
      <Value><![CDATA[0]]></Value>
    </onlineAttendance>
    <tags>
      <Value><![CDATA[]]></Value>
    </tags>
  </Properties>
</Content>