<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b252e736-bec2-440b-94e4-2bda7a06a101" Alias="Calendar Event - Event icon - Media Picker" Level="1">
  <Info>
    <Name>Calendar Event - Event icon - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "cc07b313-0843-4aa8-bbda-871c8da728c8,c4b1efcf-a9d5-41c4-9621-e9d273b52a9c",
  "ignoreUserStartNodes": false,
  "multiple": false,
  "umbMigrationV14": "2025-07-17T12:19:18.9228502+00:00",
  "validationLimit": {}
}]]></Config>
</DataType>