<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c7fa4a78-b511-43f2-aa90-7e654bcea557" Alias="events" Level="1">
  <Info>
    <Name>Events</Name>
    <Icon>icon-megaphone color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Events</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e5a75384-f00c-4cc8-bac5-2eae6200c64b">Events</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="04f84fd6-d6e0-46ed-88ed-17e7a391def1" SortOrder="0">year</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>21bf0fe2-973f-40ae-8da0-56ad214d3873</Key>
      <Name>Ad-hoc Meetup events</Name>
      <Alias>adHocMeetupEvents</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[One Meetup.com event URL (or event id) per line. These single events are imported into the calendar without tracking their whole group.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>89afa474-86ad-47b5-a5ef-baf993fda77c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>