<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b2877506-1f9c-4d78-b6d1-ff88c3de947c" Alias="Calendar Event - Online Attendance - Toggle" Level="1">
  <Info>
    <Name>Calendar Event - Online Attendance - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Toggle</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "default": false,
  "labelOff": "Can not be attended online",
  "labelOn": "Can be attended online",
  "showLabels": true
}]]></Config>
</DataType>