<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2828e77-d63e-4c55-9ab0-e13619ae9a1e" Alias="5A926d474aa59dd5" Level="2">
  <Info>
    <Parent Key="251a3f45-b732-4ac0-8a30-84e06fa88b27">Unused - Archive</Parent>
    <Path>/UnusedArchive/A926d474aa59dd5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-07T13:43:53</CreateDate>
    <NodeName Default="5A926d474aa59dd5" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/oghifqr4/5a926d474aa59dd5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>