<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b5ca35f-bdaa-4e7d-8938-a8f41c27591d" Alias="Dk Festival" Level="2">
  <Info>
    <Parent Key="7e64ca3b-bb55-4645-838e-b190e9cf5422">Festival Banners</Parent>
    <Path>/FestivalBanners/DkFestival</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T16:00:52</CreateDate>
    <NodeName Default="Dk Festival" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lgrfy43k/dk-festival.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>