<?xml version="1.0" encoding="utf-8"?>
<Media Key="447282f7-23ee-47b1-8f20-759d7b7884ad" Alias="Event Icons" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventIcons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-04T18:39:48</CreateDate>
    <NodeName Default="Event Icons" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties />
</Media>