<?xml version="1.0" encoding="utf-8"?>
<Media Key="e115ca5c-3dce-4161-8e1e-42f019015d73" Alias="Event Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/EventImages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-04T18:39:40</CreateDate>
    <NodeName Default="Event Images" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties />
</Media>