<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e64ca3b-bb55-4645-838e-b190e9cf5422" Alias="Festival Banners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FestivalBanners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-04T18:39:44</CreateDate>
    <NodeName Default="Festival Banners" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>