<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb3ff4a1-02ad-4f34-8448-16e54645ac56" Alias="Ghayp2dwoaaav57" Level="2">
  <Info>
    <Parent Key="251a3f45-b732-4ac0-8a30-84e06fa88b27">Unused - Archive</Parent>
    <Path>/UnusedArchive/Ghayp2dwoaaav57</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-10T13:08:57</CreateDate>
    <NodeName Default="Ghayp2dwoaaav57" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u50d543n/ghayp2dwoaaav57.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>