<?xml version="1.0" encoding="utf-8"?>
<Media Key="d49bd40e-b041-4f11-879a-fb3c9e031439" Alias="Sample Event Image" Level="2">
  <Info>
    <Parent Key="e115ca5c-3dce-4161-8e1e-42f019015d73">Event Images</Parent>
    <Path>/EventImages/SampleEventImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-04T18:42:22</CreateDate>
    <NodeName Default="Sample Event Image" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/s2e9q76h/sample-event-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>