<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d0b9f2d-28e1-4b1d-a689-50a0cd379efd" Alias="UMBRACOKALASETV1" Level="2">
  <Info>
    <Parent Key="251a3f45-b732-4ac0-8a30-84e06fa88b27">Unused - Archive</Parent>
    <Path>/UnusedArchive/UMBRACOKALASETV1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-06-10T12:36:18</CreateDate>
    <NodeName Default="UMBRACOKALASETV1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dspbwtpb/umbracokalasetv1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>