<?xml version="1.0" encoding="utf-8"?>
<Media Key="251a3f45-b732-4ac0-8a30-84e06fa88b27" Alias="Unused - Archive" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UnusedArchive</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-09-04T18:39:51</CreateDate>
    <NodeName Default="Unused - Archive" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties />
</Media>