<?xml version="1.0" encoding="utf-8"?>
<Media Key="f80e90ca-9efc-40a1-9f36-ee7dd2682972" Alias="2024 11 18 105356" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T10:54:07</CreateDate>
    <NodeName Default="2024 11 18 105356" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zsia34h2/2024-11-18_105356.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>