<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0983992-3b5c-439f-a1dd-9e9344e1a109" Alias="2024 06 10 133909" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-10T13:39:47</CreateDate>
    <NodeName Default="2024 06 10 133909" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sq2jric2/2024-06-10_133909.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>