<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c7ffcd8-2a60-414f-9912-37b3a80d3fa0" Alias="2025 Spark" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Spark</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T11:06:09</CreateDate>
    <NodeName Default="2025 Spark" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/114h4lda/2025-spark.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>