<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1acb8d5-3bf0-4fbb-96fe-09e9e2c5eeee" Alias="Codegarden 2022 768 X 432" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Codegarden2022768X432</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T15:43:42</CreateDate>
    <NodeName Default="Codegarden 2022 768 X 432" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0o2kzmpq/codegarden_2022__768-x-432.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>