<?xml version="1.0" encoding="utf-8"?>
<Media Key="9359d054-0388-4635-94d1-939adfb48ee4" Alias="Codecabin Square" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CodecabinSquare</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T17:13:01</CreateDate>
    <NodeName Default="Codecabin Square" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/klifte2i/codecabin-square.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>