<?xml version="1.0" encoding="utf-8"?>
<Media Key="e125a6a8-e274-4f50-ae7d-760d062d3dcb" Alias="Icon 2025 Uduf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Icon2025Uduf</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-12-03T11:06:11</CreateDate>
    <NodeName Default="Icon 2025 Uduf" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v0tclylu/icon-2025-uduf.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>