<?xml version="1.0" encoding="utf-8"?>
<Content Key="7cc30f5f-5bc2-4e81-a403-2abb49abc2d6" Alias="Error" Level="2">
  <Info>
    <Parent Key="078564e2-df9c-47f9-a944-8fbc0beede41">Umbraco Global Event Calendar</Parent>
    <Path>/UmbracoGlobalEventCalendar/Error</Path>
    <Trashed>false</Trashed>
    <ContentType>error</ContentType>
    <CreateDate>2025-04-02T11:09:16</CreateDate>
    <NodeName Default="Error" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aca0406f-5c38-4210-999c-01d7d1cd791b">Error</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[{
  "markup": "<p>An error has occurred with public access, the member likely doesn't have the correct member group to access this page.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </bodyText>
  </Properties>
</Content>